body{
	background-image: linear-gradient(pink, yellow);
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#divc{
	background-color: #FFFFFF;
	width: 1300px;
	height: 580px;
	border-radius: 20px;


}